:root{
       --cor-de-fundo:#848e87;
--branco: #FFFFFFFF;
--laranja: #EB9B00;
--fonte-principal:"Poppins";
}
body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}



  .cabeçalho-menu-hanburguer {
    width: 24px;
    height: 24px;
    background-image: url(./img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
 }

  .cabeçalho {
    background-color: #1b9740;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.container {
    display: flex;
    align-items: center;
  }
        
  .container_imagem {
    padding:10px;
    margin:10px;
    width: 40px;
  }
 .container_botão:checked ~.lista-menu{
  display: block;
 }

 .lista-menu-titulo,
 .lista-menu-item{
  padding: 16px;
  background-color: var(--branco);
 }

 .lista-menu-titulo {
color: var(--laranja);
font-weight: 700;
 
}

.lista-menu-link{
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
}

.lista-menu{
  display: inline-block;
  position: absolute;
  top: 100%;
  width: 20vw;

}

.container-botão{
  display: none;

}